<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Requested Needs <span class="badge pull-right">{{ models.requestedNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.requestedNeeds.length === 0">
        No one has requested anything...
      </div>
      <table class="table table-responsive" ng-if="models.requestedNeeds.length > 0">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th>Due Date</th>
          <th>Address</th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="need in models.requestedNeeds">
          <td>{{ need.quantity }}</td>
          <td>{{ need._need.name }}</td>
          <td>{{ (need.due_date | date: 'shortDate') || 'N/A' }}</td>
          <td>{{ need._recipient.address_1 || 'N/A' }}</td>
          <td class="text-right"><a href ng-click="openAssignNeed(need)">Accept</a></td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="openAddNeed()"><i class="fa fa-plus"></i> Post a need</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Your Pending Needs <span class="badge pull-right">{{ models.pendingNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.pendingNeeds.length === 0">
        You haven't committed to any requests...
      </div>
      <table class="table table-responsive" ng-if="models.pendingNeeds.length > 0">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th>Action</th>
          <th>Completed</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="need in models.pendingNeeds">
          <td>{{ need.quantity }}</td>
          <td>{{ need._need.name }}</td>
          <td>
            <a href ng-click="openReturnNeed(need)" ng-if="need.hasCommitment">Return</a>
          </td>
          <td>
            <input type="checkbox" ng-click="setCompleted($event, need)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>