<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Requested Needs <span class="badge pull-right">{{ models.requestedNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.requestedNeeds.length === 0">
        No one has requested anything...
      </div>
      <table class="table table-responsive" ng-if="models.requestedNeeds.length > 0">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="need in models.requestedNeeds">
          <td>{{ need.quantity }}</td>
          <td>{{ need._need.name }}</td>
          <td class="text-right"><a href ng-click="openAssignNeed(need)">Assign</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Pending Needs <span class="badge pull-right">{{ models.pendingNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.pendingNeeds.length === 0">
        You haven't committed to any requests...
      </div>
      <table class="table table-responsive" ng-if="models.pendingNeeds.length > 0">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="need in models.pendingNeeds">
          <td>{{ need.quantity }}</td>
          <td>{{ need._need.name }}</td>
          <td class="text-right"><a href ng-click="openReturnNeed(need)" ng-if="need.hasCommitment">Return</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>