<div class="modal-header">
  <h4 class="modal-title">Recipient Need</h4>
</div>
<div class="modal-body">
  <p class="lead">You are donating {{ need.quantity }} {{ need._need.name }}.</p>
  <p><strong>Description</strong></p>
  <p>{{ need._need.description }}</p>
  <p><strong>Requested By</strong></p>
  <ul class="list-unstyled">
    <li ng-bind="getFullName(need._recipient)"></li>
    <li ng-bind="getFullAddress(need._recipient)"></li>
    <li ng-bind="need._recipient.phone_number || 'N/A'" ng-if="need._recipient.phone_number"></li>
    <li ng-bind="need._recipient.email || 'N/A'" ng-if="need._recipient.email"></li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
</div>