<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Change password</h4>
      </div>
      <div class="panel-body">
        <form name="form" novalidate ng-submit="onSubmit()">
          <div class="alert alert-danger" ng-if="hasError()">{{ error.detail }}</div>
          <div class="form-group">
            <label for="old-password">Old password:</label>
            <input id="old-password" class="form-control" type="password" ng-model="oldPassword" required>
          </div>
          <div class="form-group">
            <label for="new-password">New password:</label>
            <input id="new-password" class="form-control" type="password" ng-model="newPassword" required>
          </div>
          <div class="form-group">
            <label for="new-password-again">New password (again):</label>
            <input id="new-password-again" class="form-control" type="password" ng-model="newPasswordAgain" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit"
                  ng-disabled="form.$invalid || !passwordsMatch()">Change password</button>
        </form>
      </div>
    </div>
  </div>
</div>