<div class="modal-header">
  <h4 class="modal-title">Add Need</h4>
</div>
<div class="modal-body">
  <div class="alert alert-info">Fields with an asterisk (*) are required.</div>

  <!-- Recipient -->
  <form name="part1" novalidate ng-if="vm.currentPart === 1">
    <div class="form-group">
      <label>First name *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.first_name"
             ng-model="vm.models.part1.first_name" required>
    </div>
    <div class="form-group">
      <label>Last name *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.last_name" ng-model="vm.models.part1.last_name"
             required>
    </div>
    <div class="form-group">
      <label>Address *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.address_1" ng-model="vm.models.part1.address_1"
             required>
    </div>
    <div class="form-group">
      <label>Address (line 2):</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.address_2" ng-model="vm.models.part1.address_2">
    </div>
    <div class="form-group">
      <label>City *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.city" ng-model="vm.models.part1.city" required>
    </div>
    <div class="form-group">
      <label>State *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.state" ng-model="vm.models.part1.state"
             required>
    </div>
    <div class="form-group">
      <label>Zip code *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part1.zip_code" ng-model="vm.models.part1.zip_code"
             required>
    </div>
    <div class="form-group">
      <label>Phone number *:</label>
      <input class="form-control" type="tel" ng-value="vm.models.part1.phone_number"
             ng-model="vm.models.part1.phone_number" required>
    </div>
    <button class="btn btn-primary btn-block" type="button" ng-click="vm.goToPart(2)"
            ng-disabled="vm.part1.$invalid">Continue
    </button>
  </form>

  <!-- Need -->
  <form name="part2" novalidate ng-if="vm.currentPart === 2">
    <div class="form-group">
      <label>Name *:</label>
      <input class="form-control" type="text" ng-value="vm.models.part2.name" ng-model="vm.models.part2.name">
    </div>
    <div class="form-group">
      <label>Description *:</label>
      <textarea class="form-control" ng-value="vm.models.part2.description"
                ng-model="vm.models.part2.description"></textarea>
    </div>
    <button class="btn btn-default btn-block" type="button" ng-click="vm.goToPart(1)">Back</button>
    <button class="btn btn-primary btn-block" type="button" ng-click="vm.goToPart(3)"
            ng-disabled="vm.part2.$invalid">Continue
    </button>
  </form>

  <!-- Recipient need -->
  <form name="part3" novalidate ng-if="vm.currentPart === 3">
    <div class="form-group">
      <label>Quantity *:</label>
      <input class="form-control" type="number" ng-value="vm.models.part3.quantity" ng-model="vm.models.part3.quantity">
    </div>
    <div class="form-group">
      <label>Due date *:</label>
      <input class="form-control" type="datetime-local" ng-value="vm.models.part3.due_date"
             ng-model="vm.models.part3.due_date">
    </div>
    <button class="btn btn-default btn-block" type="button" ng-click="vm.goToPart(2)">Back</button>
    <button class="btn btn-primary btn-block" type="submit" ng-click="vm.ok()"
            ng-disabled="vm.part3.$invalid">Submit
    </button>
  </form>
</div>