<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Profile</h4>
      </div>
      <div class="panel-body">
        <form name="form" novalidate ng-submit="vm.onSubmit()">
          <div class="alert alert-danger" ng-if="vm.hasErrors()">Please correct the errors below.</div>
          <div class="form-group">
            <label>First name:</label>
            <input class="form-control" type="text" ng-value="vm.models.first_name" ng-model="vm.models.first_name"
                   required>
          </div>
          <div class="form-group">
            <label>Last name:</label>
            <input class="form-control" type="text" ng-value="vm.models.last_name" ng-model="vm.models.last_name"
                   required>
          </div>
          <div class="form-group">
            <label>Address:</label>
            <input class="form-control" type="text" ng-value="vm.models.address_1" ng-model="vm.models.address_1"
                   required>
          </div>
          <div class="form-group">
            <label>Address (line 2):</label>
            <input class="form-control" type="text" ng-value="vm.models.address_2" ng-model="vm.models.address_2">
          </div>
          <div class="form-group">
            <label>City:</label>
            <input class="form-control" type="text" ng-value="vm.models.city" ng-model="vm.models.city" required>
          </div>
          <div class="form-group" ng-class="{'has-error': vm.errorByField.state}">
            <label>State:</label>
            <input class="form-control" type="text" maxlength="2" ng-value="vm.models.state" ng-model="vm.models.state"
                   required>
            <span class="help-block" ng-repeat="error in vm.errorByField.state">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error': vm.errorByField.zip_code}">
            <label>Zip code:</label>
            <input class="form-control" type="text" ng-value="vm.models.zip_code" ng-model="vm.models.zip_code"
                   required>
            <span class="help-block" ng-repeat="error in vm.errorByField.zip_code">{{ error }}</span>
          </div>
          <div class="form-group" ng-class="{'has-error': vm.errorByField.phone_number}">
            <label>Phone number:</label>
            <input class="form-control" type="text" ng-value="vm.models.phone_number" ng-model="vm.models.phone_number"
                   required>
            <span class="help-block" ng-repeat="error in vm.errorByField.phone_number">{{ error }}</span>
          </div>
          <button class="btn btn-primary btn-block" type="submit" ng-disabled="vm.form.$invalid">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>