<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Profile</h4>
      </div>
      <div class="panel-body">
        <form name="form" novalidate ng-submit="onSubmit()">
          <div class="form-group">
            <label for="first-name">First name:</label>
            <input id="first-name" class="form-control" type="text" ng-value="models.first_name" ng-model="models.first_name" required>
          </div>
          <div class="form-group">
            <label for="last-name">Last name:</label>
            <input id="last-name" class="form-control" type="text" ng-value="models.last_name" ng-model="models.last_name" required>
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <input id="address" class="form-control" type="text" ng-value="models.address_1" ng-model="models.address_1" required>
          </div>
          <div class="form-group">
            <label for="address-2">Address (line 2):</label>
            <input id="address-2" class="form-control" type="text" ng-value="models.address_2" ng-model="models.address_2">
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input id="city" class="form-control" type="text" ng-value="models.city" ng-model="models.city" required>
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input id="state" class="form-control" type="text" maxlength="2" ng-value="models.state" ng-model="models.state" required>
          </div>
          <div class="form-group">
            <label for="zip-code">Zip code:</label>
            <input id="zip-code" class="form-control" type="text" ng-value="models.zip_code" ng-model="models.zip_code" required>
          </div>
          <div class="form-group">
            <label for="phone-number">Phone number:</label>
            <input id="phone-number" class="form-control" type="text" ng-value="models.phone_number" ng-model="models.phone_number" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>