<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Requested Needs <span class="badge pull-right">{{ models.requestedNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.requestedNeeds.length === 0">
        No requested needs...
      </div>
      <ul class="list-group" ng-if="models.requestedNeeds.length > 0">
        <li class="list-group-item" ng-repeat="need in models.requestedNeeds">
          {{ need._need.name }} <a class="pull-right" href ng-click="openAssignNeed(need)">Assign</a>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Pending Needs <span class="badge pull-right">{{ models.pendingNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.pendingNeeds.length === 0">
        No pending needs...
      </div>
      <ul class="list-group" ng-if="models.pendingNeeds.length > 0">
        <li class="list-group-item" ng-repeat="need in models.pendingNeeds">
          {{ need._need.name }} <a class="pull-right" href ng-click="openReturnNeed(need)" ng-if="need.hasCommitment">Return</a>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Received Needs <span class="badge pull-right">{{ models.receivedNeeds.length }}</span>
        </h4>
      </div>
      <div class="panel-body text-center" ng-if="models.receivedNeeds.length === 0">
        No received needs...
      </div>
      <ul class="list-group" ng-if="models.receivedNeeds.length > 0">
        <li class="list-group-item disabled" ng-repeat="need in models.receivedNeeds">
          {{ need._need.name }}
        </li>
      </ul>
    </div>
  </div>
</div>