<div class="row">
  <div class="col-lg-offset-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Sign up</h4>
      </div>
      <div class="panel-body">
        <form name="form" novalidate ng-submit="vm.onSubmit()">
          <div class="form-group" ng-class="{
            'has-error': vm.error.username,
            'has-feedback': vm.error.username
          }">
            <label class="control-label">Username:</label>
            <input class="form-control" type="text" ng-model="vm.username" required>
            <span class="help-block" ng-if="vm.error.username">{{ vm.error.username[0] }}</span>
          </div>
          <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="text" ng-model="vm.email" required>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" ng-model="vm.password" required>
          </div>
          <div class="form-group">
            <label>Password (again):</label>
            <input class="form-control" type="password" ng-model="vm.passwordAgain" required>
          </div>
          <button class="btn btn-primary btn-block" type="submit" ng-disabled="vm.form.$invalid || !vm.passwordsMatch()">Sign up
          </button>
        </form>
      </div>
    </div>
    <p class="text-center">Already have an account? <a href ui-sref="log_in">Log in!</a></p>
  </div>
</div>