<div class="middle-center">
  <h1 class="logo landing">safe families</h1>
  <!--<p class="lead">
    Welcome to DC127's official site for exchanging resources. Here, you can post specific needs and fill requests that
    others post. DC127 is a network, and we believe no one can can care for kids alone. We rely on wonderful volunteers
    like you to connect parents, Host Homes, and Foster Families with the resources they need to successfully care for
    children.
  </p>-->
  <a class="btn btn-primary" href ui-sref="log_in" ng-hide="hasUser()">Log in</a>
  <a class="btn btn-primary" href ui-sref="sign_up" ng-hide="hasUser()">Sign up</a>
  <a class="btn btn-primary" href ui-sref="app.dashboard" ng-show="hasUser()">Continue to dashboard</a>
</div>